*,*:hover{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    outline: 0;
    /* text-rendering: optimizeLegibility; */
}
:root{
    --bg-color : #191919;
    --accent-color: #eaaa52;
}
body{
    background: var(--bg-color);
}
.container{
    /* background: var(--bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side{
    border-left: 0px solid white;
    height: 100%;
    width: 50%;
    padding-top: 12.2rem;
}
.left-side{
    transform: rotateY(-180deg);
     height: 100%;
     width: 50%;
     padding-top: 12.2rem;
     display: block;
}
.ear{
    background: var(--accent-color);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 1000px;
    position: absolute;
    top: -0.6rem;
    right:-0.6rem;
}
.head{
    background: var(--accent-color);
    width: 1.2rem;
    height: 2.5rem;
    position: relative ;
}
.wing{
    background: var(--accent-color);
    width: 9rem;
    height: 6.4rem;
    position: relative;
    
}
.sholder {
    background: var(--accent-color);
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: -2rem;
    right:46.8%;
}
.inner{
    height:100%;
    width: 100%;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--bg-color)
}
.bottom-circle{
    background: var(--bg-color);
    width: 10.7rem;
    height: 5rem;
    position: absolute;
    bottom: -40%;
    right: -1rem;
    border-radius: 100%;
    /* border-top-left-radius: 90%; */
    transform: rotate(-15deg);
    z-index: 100;
}
.right-circle{
    background: var(--bg-color);
    width: 134%;
    height: 189%;
    position: absolute;
    top: 0%;
    right: -78.3%;
    border-radius: 1200px;
    transform-origin: left;
    z-index: 100;
}
.wing-expand{
    background: var(--accent-color);
    height: 7.2rem;
    width: 9.6rem;
    position: absolute;
    top:-55%;
    right: -59%;
}
@media screen and (max-width: 400px){
   .container{
       transform: scale(0.7);
   }
  .wing-expand{
      /* overflow: hidden; */
  }
}
